### SBT template
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

.idea/
.idea_modules/

.history

### Scala template
*.class
*.log

# sbt specific
.cache
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Metals / VS Code / Bloop / etc

.bloop/*
project/.bloop/*
metals.sbt
.vscode/*
.bsp/*
.metals/*
.bloop/
.bsp